doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pet Sitter
    link(rel='stylesheet', href='./css/app.css')
  body
    header
      h1 Exotic Pet Sitter

    #controls
      input(type='text' placeholder='Name')#name
      input(type='age' placeholder='Age')#age
      select#gender
        option M
        option F
      select#species
        option(value='snake.png') Snake
        option(value='lizard.png') Lizard
        option(value='frog.png') Frog
      button#add Add

    #pets

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/database.js')
    script(src='./js/es6/pet.js')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
